/* Place your CSS styles in this file */

img[alt="www.000webhost.com"]{display:none}

.textstyle {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
}
 body {
    background-color: black;
}

.mainheader {
    color: greenyellow;
    margin-top: 50px;
}

.maintext {
    color: blue;
    max-width: 350px;
    margin:auto;
}

.TSA2 {
    color: red
}
.button {
    background-color: rgb(255, 255, 255);
    border: none;
    color: rgb(30, 255, 0);
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 20px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    
}

.button:hover {
    background-color: rgb(158, 158, 158);
    border: none;
    color: rgb(255, 0, 0);
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 20px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    
}

.desc {
    color: yellow;
    max-width: 250px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.leftimage {
    height: 50px;
    position: absolute;
    left: 0;
    top: 0;
}

.buttonindex {
    background-color: rgb(255, 255, 255);
    border: none;
    color: rgb(30, 255, 0);
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 20px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    
}

.buttonindex:hover {
    background-color: rgb(158, 158, 158);
    border: none;
    color: rgb(255, 0, 0);
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 20px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    
}

.headerbut2 {
    position: absolute;
    right: 0;
    top: 0;
    background-color: green;
    border: none;
    color: #ffffff;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 11px;
    margin: auto;
    margin-bottom: 20px;
    margin-left: 5px;
    cursor: pointer;
}

.headerbut2:hover {
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgb(158, 158, 158);
    border: none;
    color: rgb(255, 0, 0);
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 11px;
    margin: auto;
    margin-bottom: 20px;
    margin-left: 5px;
    cursor: pointer;
}

.headerbut1 {
    position: absolute;
    right: 128px;
    top: 0;
    background-color: green;
    border: none;
    color: #ffffff;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 11px;
    margin: auto;
    margin-bottom: 20px;
    margin-left: 5px;
    cursor: pointer;
}

.headerbut1:hover {
    position: absolute;
    right: 128px;
    top: 0;
    background-color: rgb(158, 158, 158);
    border: none;
    color: rgb(255, 0, 0);
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 11px;
    margin: auto;
    margin-bottom: 20px;
    margin-left: 5px;
    cursor: pointer;
}